body {
    margin-top: 50px;
}

footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    color: #555;
    width: 100%;
    background: #aaa;
    padding-top: 10px;
}

h2 {
    margin: 10px 0 5px;
}

h4 {
    margin: 10px 0 4px;
}

table td, table th {
    padding: 3px 6px;
    min-width: 100px;
}

.sm-exception {
    cursor: pointer;
    cursor: hand;
}

.sm-status {
    padding: 10px;
    color: #e8e8e8;
    white-space: nowrap;
}

.sm-status .label {
    margin-left: 5px;
}

.template {
    display: none;
}

#exception-details {
    width: 900px;
    margin: -240px 0 0 -420px;
}

.well {
    padding: 10px;
}

table.repljob {
    height: 0px;
    overflow: hidden;
}

table.repljob th {
    width: 120px;
}

table.repljob.active {
    height: auto;
}

.sm-system {
    overflow: hidden;
}

.sm-system h2 {
    float: left;
}

.sm-system .label {
    margin: 8px 10px 0 0;
    float: left;
    padding: 2px 10px;
    min-width: 70px;
    text-align: center;
}

.sm-statustext {
    padding: 10px;
}

.sm-spinner {
    margin-right: 20px;
}
