{% extends 'layout.html' %}

{% block content %}

{% for pkg in packages %}
<h2>{{ pkg.name }}</h2>
<div class='sm-packages'>
	{% for ver in pkg.versions %}
	<a class="btn {% if forloop.first %}primary{% endif %}" data-package="{{ pkg.name }}" data-version="{{ ver }}" href="#">Version: {{ ver}}</a>
	{% if forloop.first %}<h5>Previous Versions:</h5>{% endif %}
	{% endfor %}
</div>
{% empty %}
<div class="alert-message block-message">
	There are no packages available for installation.
</div>
{% endfor %}

<!-- 
<h2>Upload a new Package:</h2>

<p>Select the application archive to upload:</p>

<form method="post" enctype="multipart/form-data" data-ajax="false">
	<fieldset>
		<label for="newPackage">Package <span class="label">tar.gz or .tgz</span></label>
		<div class="input">
			<input type="file" name="newPackage">
		</div>
	</fieldset>
	
	<div class="actions">
		<input type="submit" class="btn primary" value="Upload Package" />
		<button type="reset" class="btn">Cancel</button>
	</div>
</form>
-->
{% endblock %}