{{#if packages}}
<h2>Deploy an Uploaded Package:</h2>

{{#each packages}}
	<h3>{{ name }}</h3>
	<ul>
	{{#each versions}}
		<li><a href="/deploy/{{ ../name }}?version={{ this}}">{{ this }}</a></li>
	{{/each}}
	</ul>
{{/each}}
{{/if}}

<h2>Upload a new Package:</h2>

<p>Select the application archive to upload:</p>

<form method="post" enctype="multipart/form-data" data-ajax="false">
	<fieldset>
		<label for="newPackage">Package <span class="label">tar.gz or .tgz</span></label>
		<div class="input">
			<input type="file" name="newPackage">
		</div>
	</fieldset>
	
	<div class="actions">
		<input type="submit" class="btn primary" value="Upload Package" />
		<button type="reset" class="btn">Cancel</button>
	</div>
</form>