{% extends 'layout.html' %}

{% block content %}

{% for pkg in packages %}
<h2>{{ pkg.name }}</h2>
<div class='sm-packages'>
	{% for ver in pkg.versions %}
	<a class="btn {% if forloop.first %}primary{% endif %}" data-package="{{ pkg.name }}" data-version="{{ ver }}" href="#">Version: {{ ver}}</a>
	{% if forloop.first %}<h5>Previous Versions:</h5>{% endif %}
	{% endfor %}
</div>
{% empty %}
<div class="alert-message block-message">
	There are no packages available for installation.
</div>
{% endfor %}
{% endblock %}