{% extends 'layout.html' %}

{% block content %}
<h2>Server Reported Status</h2>
<div id="sm-overall-status" class="alert-message">pending...</div>

<h2>Individual Systems</h2>
{% for system in systems %}
	<div class="sm-system">
		{% if system.available %}
		<span class="label success">available</span>
		{% else %}
		<span class="label important">offline</span>
		{% endif %}
		<h2>{{ system.id }}</h2>
	</div>
	{% for sub in system.subsystems %}
	<div class="alert-message {% if sub.available %}success{% else %}error{% endif %}">
	{{ forloop.key }}
	</div>
	{% empty %}
	<div class="alert-message info">no subsystems reported</div>
	{% endfor %}
{% endfor %}

<script>
$(function() {
	SteelmeshDash.monitorServerStatus(function(status) {
		var statusDiv = $('#sm-overall-status');
		
		// reset the classname
		statusDiv[0].className = 'alert-message';
		
		// update the contents
		statusDiv
			.html(status)
			.addClass(status === 'up' ? 'success' : 'error')
			.show();
	});
});
</script>
{% endblock %}