{% extends 'layout.html' %}

{% block content %}
<script id="sm-versions-template" type="text/x-handlebars-template">
<h3>Steelmesh</h3>
<p>{[ steelmesh ]}</p>

<h3>Node Components</h3>
<table class="bordered-table">
{[#each node]}
	<tr>
		<td>{[ system ]}</td>
		<td>{[ version ]}</td>
	</tr>
{[/each]}
</table>
</script>

<h2>System Health</h2>
<div id="sm-overall-status" class="alert-message">pending...</div>

<h3>Individual Systems</h3>
{% for system in systems %}
	<div class="sm-system">
		{% if system.available %}
		<span class="label success">available</span>
		{% else %}
		<span class="label important">offline</span>
		{% endif %}
		<h2>{{ system.id }}</h2>
	</div>
	{% for sub in system.subsystems %}
	<div class="alert-message {% if sub.available %}success{% else %}error{% endif %}">
	{{ forloop.key }}
	</div>
	{% empty %}
	<div class="alert-message info">no subsystems reported</div>
	{% endfor %}
{% endfor %}

<hr />
<h2>Software Versions</h2>
<div id="sm-versions" data-url="/version"></div>

<script>
$(function() {
	SteelmeshDash.fill('#sm-versions');
	
	SteelmeshDash.monitorServerStatus(function(status) {
		var statusDiv = $('#sm-overall-status');
		
		// reset the classname
		statusDiv[0].className = 'alert-message';
		
		// update the contents
		statusDiv
			.html(status)
			.addClass(status === 'up' ? 'success' : 'error')
			.show();
	});
});
</script>
{% endblock %}