<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
	<link rel='stylesheet' href='/css/main.css'>
	<script src="/js/jquery-1.7.1.min.js"></script>
	
    <link rel="shortcut icon" href="/favicon.png">
	<!--
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	-->
  </head>

<body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">{{ title }}</a>

			<ul class="nav">
			{% for navitem in nav %}
			    {% if navitem.items %}
				<li class="dropdown" id="menu{{ loop.index }}">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#menu{{ loop.index }}">
					    {{ navitem.title }}
					    <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						{% for subitem in navitem.items %}
						<li><a href="{{ subitem.url }}">{{ subitem.title }}</a></li>
						{% endfor %}
					</ul>
				</li>
				{% else %}
				<li><a href="{{ navitem.url }}">{{ navitem.title }}</a></li>
				{% endif %}
			{% endfor %}
			</ul>

		  <div class="pull-right sm-status">status:
		    {% if online %}
		        <span class="sm-server-status label label-success">{{ status }}</span>
		    {% else %}
		        <span class="sm-server-status label">{{ status }}</span>
		    {% endif %}
		      
			{% if dash.mode == 'primary' %}
			    <span class="label label-info">{{ dash.mode }}</span>
			{% else %}
			    <span class="label">{{ dash.mode }}</span>
			{% endif %}
		  </div>
		
        </div>
      </div>
    </div>

    <div id="status" class="container">
	</div>
	
    <div id="main" class="container">
		{% block content %}
		To be completed...
		{% endblock %}
    </div> <!-- /container -->

    <footer>
      <p>&copy; Sidelab 2012</p>
    </footer>

    <script src="/js/bootstrap.min.js"></script>    
	<script src="/js/bootstrap-dropdown.js"></script>
	<script src="/js/bootstrap-alert.js"></script>
	<script src="/js/bootstrap-modal.js"></script>
	<script src="/js/bootstrap-tooltip.js"></script>
	<script src="/js/bootstrap-popover.js"></script>
	<script src="/js/handlebars-1.0.0.beta.4.js"></script>
	<script src="/js/spin.min.js"></script>
	<script src="/js/dash.js"></script>
  </body>
</html>