<ul class="pills">
	{{#each logs}}
		<li><a href="#" class='log'>{{ this }}</a></li>
	{{/each}}
</ul>

<div id="exception-details" class="modal hide">
	<div class="modal-header">
		<a href="#" class="close">&times;</a>
		<h3></h3>
	</div>
	<div class="modal-body">
	</div>
</div>

<table id="loglines">
</table>