<ul class="breadcrumb">
  <li><a href="/">Dashboard</a> <span class="divider">/</span></li>
  <li><a href="/replication">Replication</a> <span class="divider">/</span></li>
  <li class="active">Add</li>
</ul>

<form method="post" action="/replication/add">
	<div class="clearfix">
		<label for="sourcedb">Source DB Name / URL:</label>
		<div class="input">
			<input type="text" id="sourcedb" name="sourcedb">
		</div>
	</div>
	
	<div class="clearfix">
		<label for="localdb">Local DB Name:</label>
		<div class="input">
			<input type="text" id="localdb" name="localdb">
		</div>
	</div>
	
	<div class="clearfix">
		<label for="continuous">Continuous:</label>
		<div class="input">
			<input type="checkbox" id="continuous" name="continuous" checked="true">
		</div>
	</div>
	
	<div class="actions">
		<input type="submit" class="btn primary" />
		<input type="reset" class="btn" />
	</div>
</form>